.editor_container {
    border:1px solid #718da6;
    background-color:#FFF;
    table-layout:fixed;
    overflow:hidden;
    margin:0;
    padding:0;
}
.editor_toolbar   {height:26px;padding-top:2px;margin-left:2px;}
.editor_toolbar a {color:#003399;font-size:14px}
.editor_abtn {float:left;padding:2px 0 3px 8px;color:#039;font:normal 12px Verdana;text-decoration:underline;cursor:pointer;white-space:nowrap;-moz-user-select:none}
.editor_btn, .editor_btn_mover, .editor_btn_mdown {float:left;height:21px;}
.editor_btn {border:1px solid #f3f8fb!important;border:none;border:/**/none;
             border-top:1px solid #fff;
			 border-right:1px solid #fff;
			 border-bottom:1px solid #fff;
			 border-left:1px solid #fff;
}
.editor_btn_mover {margin-right:0;border:1px solid #f3f8fb!important;border:none;border:/**/none;
             border-top:1px solid #fff;
			 border-right:1px solid #ccc;
			 border-bottom:1px solid #ccc;
			 border-left:1px solid #fff;
}
.editor_btn_mdown {margin-right:0;
             border-top:1px solid #ccc;
			 border-right:1px solid #fff;
			 border-bottom:1px solid #fff;
			 border-left:1px solid #ccc;
}
.editor_textarea {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 12px;
    font-family: Verdana;
    line-height: 18px;
    overflow: auto;
	border-top:1px solid #718da6;
}
.editor_iframe {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
	border-top:1px solid #718da6;
}
.editor_mask {
    position: absolute;
    z-index: 2009;
    top: 0;
    left: 0;
    display: none;
    background-color: #FFFFFF;
}
.editor_prompt {
	border:1px solid #718da6;
	position:absolute;
	margin:0;
	padding: 0;
	margin-top:20px;
	background:#fff;
	padding:3px 3px;
	display:none;
}
.editor_color {font-size:1px;float:left;width:14px;height:14px;}
.editor_menu, .editor_menu_mover {height:16px;line-height:16px;padding:2px;cursor:default;font:normal 12px Verdana;}
.editor_menu {padding:3px;}
.editor_menu_mover {border:1px solid #000080;background:#FFEEC2;color:#036;}
.editor_picture {width:250px;height:17px;}
.editor_txt  { width:185px; height:17px}